

.country-info-container {
  display: flex;
  margin: 0.5vw;
  border: 4px solid black;
  justify-content: space-between;
  width: 100%;
  


  .country-flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border: 4px solid black;
    margin: 0.5vw;
  }
}
